

* {
    box-sizing: border-box;
    overflow: auto;
    clear: both;   

}

body{
    background-color:#cccccc;
}

.wrapper {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    text-align: right;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    padding: 20px;
    columns: #777777;

}
 

#Mikaela {
    position: absolute;
    top: 0px;
    bottom:7px;
    left:200px;
    height:70px;
    width:218px;
    line-height:70px;
    text-align: center;
    right:35px;
    background: #4aaaa5;;
    color:#ffffff

}


.ALL {
    margin: 100px;
    width: 960px;
    background: #ffffff;
}

.img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#About Me {
    color: #4aaaa5;
}


    